@import 'variables';

html {
    scroll-behavior: smooth;
}

h1 {
    font-family: $fmedium;
    font-size: 50px;
    color: $cdarkblue;
}

h4 {
    font-family: $fmedium;
    font-size: 18px;
    margin-bottom: 10px;
}

.btn {
    padding: 10px 20px;
    border-radius: 34px;
    font-size: 12px;
    font-family: $fmedium;
    vertical-align: center;
    text-decoration: none;
}

.btn-primary {
    background-color: $cblue;
    color: $cwhite;
    margin-left: 5px;
}

.btn-white {
    background-color: $cwhite;
    color: $cblue;
    vertical-align: center;
    margin-left: 5px;
}

.btn-bordered {
    background-color: transparent;
    border: 1px solid $cblue;
    color: $cblue;
}

.btn-bordered:hover {
    background-color: $cblue;
    color: $cwhite;
    transition: all .2s ease-in-out;
}

.input-subscribe {
    background-color: #f6f6f6;
    vertical-align: center;
    border: transparent;
    border-radius: 34px;
    height: 34px;
    width: 200px;
    padding: 0px 10px;
    font-size: 10px;
    font-weight: bold;
}

.container {
    width: 1000px;
    margin: 0 auto;
}

p {
    font-family: $fmedium;
    font-size: 14px;
}