$cwhite: #fff;
$cblack: #000;
$cdarkgray: #7b7b7b;
$cblue: #3569df;
$cdarkblue: #4d4970;
$clightgray: #a7a7ab;

$fbold: 'Gilroy-Bold', sans-serif;
$fheavy: 'Gilroy-Heavy', sans-serif;
$fmedium: 'Gilroy-Medium', sans-serif;
$fregular: 'Gilroy-Regular', sans-serif;